Backend/node_modules/

.idea/

Frontend/node_modules/

# Environment Variables
.env
#Frontend/.env
#Frontend/.env.local
#Frontend/.env.development.local
#Frontend/.env.test.local
#Frontend/.env.production.local
